.feynman {
    margin-top: 100px;
    padding-top: 100px;
    min-height: 790px;
    background: no-repeat left bottom url(../../images/feynman.png), #f2f2f2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }